<h2 class="card-title">Create New Shelter</h2>

<%= form_tag '/shelters', class: "form-group" do %>
  <%= label_tag :name %><br/>
  <%= text_field_tag :name, nil, class: "form-control" %><br/>

  <%= label_tag :address %><br/>
  <%= text_field_tag :address, nil, class: "form-control" %><br/>

  <%= label_tag :city %><br/>
  <%= text_field_tag :city, nil, class: "form-control" %><br/>

  <%= label_tag :state %><br/>
  <%= text_field_tag :state, nil, class: "form-control" %><br/>

  <%= label_tag :zip %><br/>
  <%= text_field_tag :zip, nil, class: "form-control" %><br/>

  <div class="button">
    <%= submit_tag 'Create Shelter', class: "btn btn-primary" %>
  </div>
<% end %>
