<h2><%= @shelter.name %></h2>

<ul class="list-group">
  <li class="list-group-item">Address: <%= @shelter.address %></li>
  <li class="list-group-item">City: <%= @shelter.city %></li>
  <li class="list-group-item">State: <%= @shelter.state %></li>
  <li class="list-group-item">Zip: <%= @shelter.zip %></li>
</ul></br>

<div class="button">
  <%= link_to 'All Our Pets', "/shelters/#{@shelter.id}/pets", class: "btn btn-success" %>
  <%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", class: "btn btn-primary" %>
  <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete, class: "btn btn-danger" %>
</div>

<div class="card-columns">
  <% @shelter.reviews.each do |review| %>
      <div class="card">
        <h3 class="card-title"><%= review.title %></h3>
        <div class="card-body">
          <% if review.picture != nil %>
            <%= image_tag asset_path(review.picture), class: "card-img-top" %>
          <% end %>
          <ul class="list-group">
              <li class="list-group-item"><%= review.rating %> out of 5</li>
              <li class="list-group-item"><%= review.content %></li>
          </ul>
          <div class="button">
            <%# <%= button_to 'Update', "/reviews/#{review.id}/edit", class: "btn btn-outline-primary", method: :get %>
            <%# <%= button_to 'Delete', "/reviews/#{review.id}", method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<div class="button">
  <%= link_to "Leave a Review!", "/shelters/#{@shelter.id}/reviews/new", class: "btn btn-primary", method: :get %>
</div>
