<h2 class="card-title">Update Pet</h2>

<%= form_tag "/pets/#{@pet.id}", method: :patch, class: "form-group" do %>
  <%= label_tag 'Image' %><br/>
  <%= text_field_tag :image, @pet.image, class: "form-control" %><br/>

  <%= label_tag 'Name' %><br/>
  <%= text_field_tag :name, @pet.name, class: "form-control" %><br/>

  <%= label_tag 'Description' %><br/>
  <%= text_field_tag :description, @pet.description, class: "form-control" %><br/>

  <%= label_tag 'Age' %><br/>
  <%= text_field_tag :age, @pet.age, class: "form-control" %><br/>

  <%= label_tag 'Sex' %><br/>
  <%= text_field_tag :sex, @pet.sex, class: "form-control" %><br/>

  <%= label_tag 'Adotion Status' %><br/>
  <%= text_field_tag :adoption_status, @pet.adoption_status, class: "form-control" %><br/>

  <div class="button">
    <%= submit_tag 'Update Pet', class: "btn btn-primary" %>
  </div>
<% end %>
