<div class="card">
  <%= image_tag asset_path(@pet.image), class: "card-img-top" %>
  <div class="card-body">
    <h2>Hi there, my name is <%= @pet.name %></h2>
    <ul class="list-group">
        <li class="list-group-item"><%= @pet.description %></li>
        <li class="list-group-item"><%= @pet.age %> years old</li>
        <li class="list-group-item"><%= @pet.sex %></li>
        <li class="list-group-item"><%= @pet.shelter.name %></li>
        <li class="list-group-item"><%=  @pet.adoption_status %></li>
    </ul>
  </div>
  <div class="button">
    <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit", class: "btn btn-primary" %></br>
    <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete, class: "btn btn-danger" %>
  </div>
</div>
